<h1> JAVA SCRIPT </h1>
<h2> HELLO <%=name%>
</h2>

<form name="login">

    ID <input type="text" name="userId">
    <br>
    PASSWORD <input type="password" name="userpassword">
    <br>
    <input type="button" onclick="check(this.form)" value="Login">

</form>

<script>
    const check = function () {
        console.log('test');
    }
</script>
